<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('companies')"></head>
<body>
    <div th:replace="layout :: nav"></div>
    <div th:replace="layout :: searchbar"></div>
    <div th:replace="layout :: flash"></div>
    <div class="gifs container">
        <h2 th:text="${company.companyName}" style="color:#191919"></h2>
        <div class="row">
            <div th:each="mobileModel : ${company.mobileModels}" class="col s12 l4">
                <a th:href="@{|/mobileModels/${mobileModel.id}|}">
                    <!--<img th:src="@{|/mobileModels/${mobileModel.id}.jpeg|}" />-->
                    <img src="https://pbs.twimg.com/profile_images/682878332418011136/ty_XEBLE.jpg" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div th:replace="layout :: scripts"></div>
</body>
</html>